{% extends "../../layout.html" %}
{% block title %} Uzytkownicy - kps {% endblock %}
{% block href%} /kierownik-przewozu-smieci {% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="col-10 mx-auto">
    <div style="float: right;" class="mt-5 mb-3">
      <a href="/kierownik-przewozu-smieci/uzytkownicy/dodaj" class="btn btn btn-success-custom btn-md " tabindex="-1" role="button" aria-disabled="true">Dodaj użytkownika</a>
    </div>
    <table class="table table-striped table-light table-hover">
       <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Stanowisko</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{% if item.groups.0 == 'pracownicy-przewozacy-smieci' %} Pomocnik Kierowcy {% endif %}{% if item.groups.0 == 'kierowca-smieciarki' %} Kierowca {% endif %}</td>
            <td class="fit">
              <a href="/kierownik-przewozu-smieci/uzytkownicy/edytuj/{{item.id}}" class="btn btn-warning-custom btn-md " tabindex="-1" role="button" aria-disabled="true">Edytuj</a>
            </td>
            <td class="fit">
              <form method="post" action="/kierownik-przewozu-smieci/uzytkownicy/usun/{{item.id}}">
                {% csrf_token %}
                <button class="btn btn-danger-custom btn-md " tabindex="-1" role="submit" aria-disabled="true">Usuń</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
