{% extends "../layout.html" %}
{% block title %} Panel Główny kps {% endblock %}
{% block href%} /kierownik-przewozu-smieci {% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 mt-3 d-flex justify-content-center align-items-center">
            <h1 class="text-center me-3">Panel Główny</h1>
        </div>
        <div class="col-6 mt-3 d-flex justify-content-center align-items-center" style="border-left: 1px solid #ccc;">
            <img src="{% static 'images/basura.png' %}">
        </div>
    </div>
  <div class="row mt-5">
    <div class="d-grid col-4 mt-3">
        <a href="kierownik-przewozu-smieci/uzytkownicy" class="btn btn btn-outline-light btn-md" tabindex="-1" role="button" aria-disabled="true">Zarządzaj użytkownikami</a>
    </div>
    <div class="d-grid col-4 mt-3">
        <a href="kierownik-przewozu-smieci/miejscaRozladunku" class="btn btn btn-outline-light btn-md" tabindex="-1" role="button" aria-disabled="true">Miejsca rozładunku</a>
    </div>
    <div class="d-grid col-4 mt-3">
        <a href="kierownik-przewozu-smieci/grafik" class="btn btn btn-outline-light btn-md" tabindex="-1" role="button" aria-disabled="true">Zarządzaj grafikiem</a>
    </div>
    <div class="d-grid col-4 mt-3">
        <a href="kierownik-przewozu-smieci/pojazdy" class="btn btn btn-outline-light btn-md" tabindex="-1" role="button" aria-disabled="true">Zarządzaj pojazdami</a>
    </div>
    <div class="d-grid col-4 mt-3">
        <a href="kierownik-przewozu-smieci/trasy" class="btn btn btn-outline-light btn-md" tabindex="-1" role="button" aria-disabled="true">Zarządzaj trasami</a>
    </div>
    <div class="d-grid col-4 mt-3">
        <a href="kierownik-przewozu-smieci/pojemniki" class="btn btn btn-outline-light btn-md" tabindex="-1" role="button" aria-disabled="true">Zarządzaj pojemnikami</a>
    </div>
    <div class="d-grid col-4 mt-3  mx-auto">
        <a href="kierownik-przewozu-smieci/przekazaniePojazdu" class="btn btn btn-outline-light btn-md" tabindex="-1" role="button" aria-disabled="true">Zarządzaj przekazaniem pojazdu</a>
    </div>
  </div>
</div>
{% endblock %}
