{% extends "../layout.html" %}
{% block title %} Uzytkownicy - kps {% endblock %}
{% block href%} /kierownik-przewozu-smieci {% endblock %}
{% block content %}
<div class="container-fluid">

<div class="col-10 mx-auto">
  <div style="float: right;" class="mt-5 mb-3">
  <a href="#" class="btn btn btn-success btn-md " tabindex="-1" role="button" aria-disabled="true">Dodaj użytkownika</a>
  </div>
<table class="table table-secondary table-hover">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Operacje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>imie</td>
      <td>nazwisko</td>
      <td>operacja</td>
    </tr>
  </tbody>
</table>
</div>
</div>
{% endblock %}