{% extends "../layout.html" %}
{% block title %} Uzytkownicy - kps {% endblock %}
{% block href%} /kierownik-przewozu-smieci {% endblock %}
{% block content %}

<div class="container-fluid">

<div class="col-10 mx-auto">
  <div style="float: right;" class="mt-5 mb-3">
  <a href="/kierownik-przewozu-smieci/uzytkownicy/dodaj" class="btn btn btn-success btn-md " tabindex="-1" role="button" aria-disabled="true">Dodaj użytkownika</a>
  </div>
<table class="table table-secondary table-hover">
   <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Operacje</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>
          <a href="/kierownik-przewozu-smieci/uzytkownicy/edytuj/{{item.id}}" class="btn btn btn-warning btn-md " tabindex="-1" role="button" aria-disabled="true">Edytuj</a>
          <form method="post" action="/kierownik-przewozu-smieci/uzytkownicy/usun/{{item.id}}">
            {% csrf_token %}
            <button class="btn btn btn-danger btn-md " tabindex="-1" role="submit" aria-disabled="true">Usuń</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
